.card {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 5px;
  max-width: 500px;
}

.card-header {
  width: 100%;
  background-color: lightGray;
  padding: 15px 0px 0px 15px;
  border-radius: 5px 5px 0px 0px;
}

.card-body {
  padding: 0px 15px 15px 15px;
}

.editable-cells-table td.p-cell-editing {
  padding-top: 0;
  padding-bottom: 0;
}