/* .bpb-terminal-table tr>th, .bpb-terminal-table tr>td {
  padding-inline: .5rem;
} */

.bpb-terminal-table {
  /* border-spacing: 1rem 0rem; */
  /* border: 1px solid orange; */
  overflow: auto; 
  height: 9.5rem;
  border-collapse: collapse;
}


.bpb-terminal-table thead th { 
  text-align: left;
  padding-block: .25rem;
  position: sticky; 
  background-color: hsl(37, 67%, 20%);
  top: 0; z-index: 1; 
}

th, td { padding-inline: .75rem; }