/* color source: https://icolorpalette.com/download/palette/542422_color_palette.jpg (right-most column )*/

:root {
  --gold-50: #fcdc8b;
  --gold-100: #fcd268;
  --gold-200: #fbc745;
  --gold-300: #fabd22;
  --gold-400: #f5b004;
  --gold-500: #d29704;
  --gold-600: #af7e03;
  --gold-700: #8c6402;
  --gold-800: #694b02;
  --gold-900: #463301;
}

.bpb-datatable-orders {
  --table-border-radius: 6px;
  --cell-color-1: var(--gold-50);
  --cell-color-2: var(--gold-100);
  --border-color: var(--gold-600);
  --text-primary-color: var(--gold-900);
}

.bpb-datatable-orders {
  margin: 1rem;
  border-radius: var(--table-border-radius);
}

.bpb-datatable-orders > .p-datatable.p-component {
  border-radius: var(--table-border-radius);
}

.bpb-datatable-orders > .p-datatable > .p-datatable-header {
  
  background-color: var(--gold-300);
  /* border-top: 1px solid var(--border-color); */
  border: none;
  border-bottom: none;
  border-top-left-radius: var(--table-border-radius);
  border-top-right-radius: var(--table-border-radius);
}

.bpb-datatable-orders > .p-datatable > .p-datatable-header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

/* .bpb-datatable-orders > .p-datatable > .p-datatable-wrapper {
  border-radius: var(--table-border-radius);
} */


.bpb-datatable-orders > .p-datatable .p-datatable-thead {
  display: none;
}


.bpb-datatable-orders tr:last-of-type td:first-of-type {
  border-bottom-left-radius: var(--table-border-radius);
}

.bpb-datatable-orders tr:last-of-type td:last-of-type {
  border-bottom-right-radius: var(--table-border-radius);
}

/* .bpb-datatable-orders .p-datatable .p-datatable-tbody > tr.p-row-odd td {
  background-color: var(--cell-color-2);
} */


.bpb-datatable-orders .p-datatable .p-datatable-tbody > tr {
  color: var(--text-primary-color);
  border-top: 1px solid var(--border-color);
}

.bpb-datatable-orders .p-datatable .p-datatable-tbody > tr > td {
  border-block: 1px solid var(--border-color);
  border-bottom: none;
  background-color: var(--gold-50);
  }

.bpb-datatable-orders .p-datatable .p-datatable-tbody > tr:last-of-type {
  border-bottom: none;
}


.bpb-input-field {
  --surface-content: var(--gold-50);
  --hilight: #fabd22;
}

.bpb-input-field .p-dropdown {
  color: var(--gold-900);
  border: 1px solid var(--gold-600);
  background: var(--surface-content);
}

.p-dropdown-panel.p-component.p-connected-overlay-enter-done {
  color: var(--gold-900);
  background: var(--gold-50);
}

.p-dropdown-panel.p-component.p-connected-overlay-enter-done .p-dropdown-item.p-highlight{
  background: #fabd22;
}

/* .bpb-input-field .p-calendar.p-component.p-inputwrapper.p-inputwrapper-filled .p-inputtext {
  color: var(--gold-900);
  background: var(--gold-50);
} */

.bpb-input-field .p-inputtext {
  color: var(--gold-900);
  border: 1px solid var(--gold-600);
  background: var(--gold-50);
}

.p-datepicker.p-component.p-datepicker-touch-ui.p-connected-overlay-enter-done {
  color: var(--gold-900);
  background: var(--gold-50);
}

.p-datepicker.p-component.p-datepicker-touch-ui.p-connected-overlay-enter-done .p-datepicker-header {
  color: var(--gold-900);
  background: var(--gold-50);
  border-bottom: 1px solid var(--gold-500);
}

.p-datepicker.p-component.p-datepicker-touch-ui.p-connected-overlay-exit.p-connected-overlay-exit-active {
  color: var(--gold-900);
  background: var(--gold-50);
  border-bottom: 1px solid var(--gold-500);
}

div.p-dropdown.p-component.p-inputwrapper.p-inputwrapper-filled {
  color: var(--gold-900);
  background: var(--gold-50);
  border-bottom: 1px solid var(--gold-500);
}

div.p-dropdown.p-component.p-inputwrapper.p-inputwrapper-filled.p-inputwrapper-focus {
  color: var(--gold-900);
  background: var(--gold-50);
  border-bottom: 1px solid var(--gold-500);
}

div.p-dropdown.p-component .p-dropdown-items-wrapper .p-dropdown-items {
  color: var(--gold-900);
  background: var(--gold-50);
  border-bottom: 1px solid var(--gold-500);
}

body div.p-dropdown.p-component {
  color: var(--gold-900);
  background: var(--gold-50);
  border-bottom: 1px solid var(--gold-500);
}

#ordering-page div.p-inputtext.p-component {
  color: var(--gold-900);
  background: var(--gold-50);
  border-bottom: 1px solid var(--gold-500);
}