.long-driver-notes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.notes .title {
  font-size: 32px;
  margin-bottom: 20px;
}

.notes .calendar-datatable-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.notes .calendar-container {
  margin-bottom: 20px;
}

.notes .datatable-container {
  width: 100%;
  overflow-x: auto;
}

@media only screen and (min-width: 768px) {
  .notes .calendar-datatable-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .notes .calendar-container {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .notes .datatable-container {
    width: calc(60% - 20px);
    overflow-x: auto;
  }
}

.notes .p-datatable {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.notes .p-datatable thead {
  background-color: #f2f2f2;
}

.notes .p-datatable th {
  text-align: left;
}

.notes .p-datatable td,
.notes .p-datatable td > div {
  word-break: break-all;
  padding: 10px;
}

.notes .p-datatable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.notes .p-calendar {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.notes .p-calendar .p-datepicker {
  width: 100%;
  height: 100%;
}

.notes .p-calendar .p-inputtext {
  width: 100%;
  border: none;
  border-radius: 0;
  padding: 10px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  cursor: pointer;
}

.notes .p-calendar .p-datepicker-trigger {
  border: none;
  border-radius: 0;
  padding: 10px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .notes .p-datatable td,
  .notes .p-datatable td > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
