:root {
  --bpb-background-0: #282a3a;
  --bpb-background-1: #495057;
  --bpb-background-2: #735f32;
  --bpb-background-3: #c69749;
  --bpb-background-4: #e1b163;
  --bpb-background-5: #f1b451;
  --bpb-background-6: #f4cc8b;
}
  
  
  
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: var(--bpb-background-3)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  font-weight: normal;
  color: black;
  margin: 5px 20px;
  font-size: 1.2em;
}

h3 {
  font-weight: normal;
  margin: 5px 20px;
  font-size: 1em;
}

h4 {
  font-weight: normal;
  margin: 5px 20px;
  font-size: .8em;
}

h1 {
  font-weight: normal;
  margin: 10px 20px;
  color: #006aff;
}

h3,
h4 {
  color: grey;
}

button {
  width: 100%;
  margin: auto;
  padding: 5mitpx;
  color: var(--bpb-background-4);
  background-color: var(--bpb-background-2);
  font-size: 1em;
  border: none;
}

button:hover {
  background-color: #e2e3e3;
}

.submitButton {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 200;
}

.greyBar {
  width: 100%;
  height: 10px;
  background-color: #e2e3e3;
  margin-top: 20px;
}


.bottomSpace {
  position: relative;
  width: 100%;
  height: 200px;
  background-color:var(--bpb-background-3);
}


.panelMenu .mypanel .p-menuitem-text {
  font-size: 1.2em;
  color: var(--bpb-background-0);
}

.panelMenu .mypanel .p-menuitem-text:hover {
  font-size: 1.2em;
  color: white;
}

.panelMenu .mypanel .p-menuitem-icon {
  font-size: 1.2em;
  color: var(--bpb-background-0);
}

.panelMenu .mypanel .p-panelmenu-header .p-panelmenu-header-link {
  background-color: var(--bpb-background-6);
  border-color:var(--bpb-background-2);
  margin: 15px;
  height: 80px;
}

.panelMenu .mypanel .p-panelmenu-header:not(.p-highlight):not(.p-disabled)>a:hover {
  background: var(--bpb-background-5);
  border-color:var(--bpb-background-2);
}

.panelMenu .mypanel .p-panelmenu-header .p-panelmenu-header-link:hover .p-menuitem-text {
  color: white;
}

.panelMenu .mypanel .p-panelmenu-header .p-panelmenu-header-link:hover .p-menuitem-icon {
  color: white;
}

.panelMenu .p-panelmenu .p-panelmenu-header>a:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem var(--bpb-background-2);
}

.panelMenu .p-panelmenu .p-panelmenu-header>a {
  padding: 1rem;
  border: 1px solid var(--bpb-background-2);
  color: var(--bpb-background-1);
  background: var(--bpb-background-5);
  font-weight: 600;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}



.tabContainer .tabMenu .p-tabmenu-nav {
  display: flex;
  justify-content: space-around;
}


.tabContainer .tabMenu .p-menuitem-link {
  flex-direction: column;
  justify-content: center;
}

.tabContainer .tabMenu .p-menuitem-icon {
  font-size: 2em;
}




.tabContainer {
  z-index: 200;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.tabContainer .p-tabmenu .p-tabmenu-nav {
  background: var(--bpb-background-2);
  border: 1px solid var(--bpb-background-2);
  border-width: 0 0 2px 0;
}

.tabContainer .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  border: solid var(--bpb-background-2);
  border-width: 0 0 2px 0;
  border-color: transparent transparent var(--bpb-background-2) transparent;
  background: var(--bpb-background-2);
  color: var(--bpb-background-5);

}

.tabContainer .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  background:var(--bpb-background-3);
  border-color:var(--bpb-background-3);
  color: #ffffff;
}

/*
.panelMenu .mypanel .p-panelmenu-header-link {
  border: 0;
  font-size: 1.2em;
  background-color: white;
  height: 70px;
}

.panelMenu .mypanel .p-menuitem-icon {
  font-size: 1.2em;
}



.panelMenu .mypanel .p-menuitem-text::after {
  font-size: 1.2em;
  content: ">";
  position: absolute;
 right: 30px;
}
*/

.dataTable .p-datatable-table .p-datatable-tbody tr td {
  border-color: white;
  font-size: 1.2em;
}

.productDetails {
  display: block;
}

.field {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 20px 20px 0px 20px;
  width: 90%;
  align-items: center;
}

div .photoBox {

  padding: 30px;
}

.titleWTrash {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.floatButtonsTop {
  position: fixed;
  z-index: 100;
  top: 0px;
  right: 0px
}

.p-password input {
  width: 100%;
}

.headerBlock {
  display: flex;
  width: 100%;
  height: 55px;
  align-items: flex-start;
  background-image: url("/public/bpbbanner.jpg");
  background-position: center;
  background-size: cover;
}

.currentCustomer,
.signOutButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: var(--bpb-background-0);
  color: var(--bpb-background-4);
}

.cust {
  color: var(--bpb-background-4);
  font-size: 1.2em;
  text-transform: uppercase;
}

.cartStanding {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  background-color: var(--bpb-background-2);
}

.cartStand {
  color: #ffffff;
  font-size: 1em;
  text-transform: uppercase;
}

.custDrop {
  display: flex;
  background-color: var(--bpb-background-0);
  justify-content: center;
}

.custDrop .p-dropdown {
  background-color: var(--bpb-background-0);
  border: none;
  color: var(--bpb-background-4);
  font-size: 1.2em;
  text-transform: uppercase;
}

.custDrop .p-dropdown .p-inputtext {
  color: var(--bpb-background-4);
  display: flex;
  justify-content: center;
  font-size: 1em;
  text-transform: uppercase;
}

.custDrop .p-dropdown .p-dropdown-trigger {
  background: transparent;
  color: var(--bpb-background-4);
  width: 2.357rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.bpbSimpleForm .field .p-disabled,
.p-component:disabled {
  opacity: .8;
}

.p-datatable .p-datatable-tbody>tr {
  background:var(--bpb-background-3);
  color: var(--bpb-background-1);
  transition: box-shadow 0.2s;
}

.bpbDataTable .p-datatable .p-datatable-thead>tr>th {
  text-align: left;
  padding: 1rem 1rem;
  border: 1px solidvar(--bpb-background-3);
  border-width: 0 0 1px 0;
  font-weight: 600;
  color: white;
  background:var(--bpb-background-3);
  transition: box-shadow 0.2s;
}


.bpbDataTable .p-datatable .p-datatable-tbody>tr {
  background-color: var(--bpb-background-6);
  color: var(--bpb-background-1);
  transition: box-shadow 0.2s;
}

.bpbDataTable .p-datatable .p-datatable-tbody>tr>td {
  text-align: left;
  font-size: 1em;
  ;
  border: 1px solid var(--bpb-background-3);
  border-width: 0 5px 5px 5px;
  padding: .75rem .75rem;
}

.bpbDataTable .p-inputtext {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  color: var(--bpb-background-1);
  background: #eeeeee;
  padding: 0.5rem 0.5rem;
  border: 1px solid var(--bpb-background-1);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  appearance: none;
  border-radius: 3px;
}

.bpbDataTable .p-inputtext:enabled:hover {
  border-color: var(--bpb-background-1);
}

.bpbDataTable .p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #eeeeee;
  border-color:var(--bpb-background-3);
}

.bpbDataTable .p-datatable .p-datatable-footer {
  display: flex;
  justify-content: center;
  background:var(--bpb-background-3);
  color: white;
  border: 1px solid var(--bpb-background-3);
  font-size: 1.2em;
  border-width: 0 0 1px 0;
  padding: 1rem 1rem;
  font-weight: 600;
}

.bpbDataTable .p-datatable .p-datatable-tbody .p-datatable-row-expansion>td {
  width: 100%;
  text-align: right;
  font-weight: bold;

}

.bpbCalendar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bpb-background-1);

}


.bpbCalendar .p-inputtext {
  text-align: center;
  font-size: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: white;
  background: var(--bpb-background-1);
  padding: 0.5rem 0.5rem;
  border: 1px solid var(--bpb-background-1);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  appearance: none;
  border-radius: 3px;
}

.fulfillStyle {
  color: white;
}

.fulfillBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bpb-background-1);
}


.fulDrop .p-dropdown {
  background-color: var(--bpb-background-1);
  border: none;
  color: var(--bpb-background-4);
  font-size: 1.2em;
  margin: 0 10px 0 0;
  text-transform: uppercase;
}

.fulDrop .p-dropdown .p-inputtext {
  color: white;
  display: flex;
  justify-content: center;
  font-size: .8em;
  text-transform: uppercase;
}

.fulDrop .p-dropdown .p-dropdown-trigger {
  background: transparent;
  color: white;
  width: 2.357rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


.noteBox {
  padding: 10px;
  background-color: var(--bpb-background-6);
}
