body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #c69749;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  font-weight: normal;
  color: black;
  margin: 5px 20px;
  font-size: 1.2em;
}

h3 {
  font-weight: normal;
  margin: 5px 20px;
  font-size: 1em;
}

h4 {
  font-weight: normal;
  margin: 5px 20px;
  font-size: .8em;
}

h1 {
  font-weight: normal;
  margin: 10px 20px;
  color: #006aff;
}

h3, h4 {
  color: grey;
}

button {
  width: 100%;
  margin: auto;
  padding: 5mitpx;
  color: #e1b163;
  background-color: #735f32;
  font-size: 1em;
  border: none;
}

button:hover {
  background-color: #e2e3e3;
}

.submitButton {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 200;
}

.greyBar {
  width: 100%;
  height: 10px;
  background-color: #e2e3e3;
  margin-top: 20px;
}


.bottomSpace {
  position:relative;
  width: 100%;
  height: 200px;
  background-color: #c69749;
}


.panelMenu .mypanel .p-menuitem-text { 
  font-size: 1.2em;
  color: #282a3a;
}

.panelMenu .mypanel .p-menuitem-text:hover { 
  font-size: 1.2em;
  color: white;
}

.panelMenu .mypanel .p-menuitem-icon {
  font-size: 1.2em;
  color: #282a3a;
}

.panelMenu .mypanel .p-panelmenu-header .p-panelmenu-header-link {
  background-color:#f4cc8b;
  border-color: #735f32;
  margin: 15px;
  height: 80px;
}

.panelMenu .mypanel .p-panelmenu-header:not(.p-highlight):not(.p-disabled) > a:hover {
  background: #f1b451;
  border-color: #735f32;
}

.panelMenu .mypanel .p-panelmenu-header .p-panelmenu-header-link:hover .p-menuitem-text {
  color: white;
}

.panelMenu .mypanel .p-panelmenu-header .p-panelmenu-header-link:hover .p-menuitem-icon {
  color: white;
}

.panelMenu .p-panelmenu .p-panelmenu-header > a:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #735f32;
}

.panelMenu .p-panelmenu .p-panelmenu-header > a {
  padding: 1rem;
  border: 1px solid #735f32;
  color: #495057;
  background: #f1b451;
  font-weight: 600;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}



.tabContainer .tabMenu .p-tabmenu-nav {
  display: flex;
  justify-content: space-around;
}


.tabContainer .tabMenu .p-menuitem-link {
  flex-direction: column;
  justify-content: center;
}

.tabContainer .tabMenu  .p-menuitem-icon {
  font-size: 2em;
}




.tabContainer {
  z-index: 200;
  position:fixed;
  width: 100%;
  bottom: 0;
}

.tabContainer .p-tabmenu .p-tabmenu-nav {
  background: #735f32;
  border: 1px solid #735f32;
  border-width: 0 0 2px 0;
}

.tabContainer .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  border: solid #735f32;
  border-width: 0 0 2px 0;
  border-color: transparent transparent #735f32 transparent;
  background: #735f32;
  color: #f1b451;
 
}

.tabContainer .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  background: #c69749;
  border-color: #c69749;
  color: #ffffff;
}

/*
.panelMenu .mypanel .p-panelmenu-header-link {
  border: 0;
  font-size: 1.2em;
  background-color: white;
  height: 70px;
}

.panelMenu .mypanel .p-menuitem-icon {
  font-size: 1.2em;
}



.panelMenu .mypanel .p-menuitem-text::after {
  font-size: 1.2em;
  content: ">";
  position: absolute;
 right: 30px;
}
*/

.dataTable .p-datatable-table .p-datatable-tbody tr td{
  border-color: white;
  font-size: 1.2em;
}

.productDetails {
  display: block;
}

.field {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 20px 20px 0px 20px;
  width: 90%;
  align-items: center;
}

div .photoBox {
  
  padding: 30px;
}

.titleWTrash {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.floatButtonsTop {
    position: fixed;
    z-index: 100;
    top: 0px;
    right: 0px
}

.p-password input {
  width: 100%;
}

.headerBlock {
  display:flex;
  width: 100%;
  height: 55px;
  align-items:flex-start;
  background-image: url("/public/bpbbanner.jpg");
  background-position: center;
  background-size: cover;
}
.currentCustomer, .signOutButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #282a3a;
  color: #e1b163;
}

.cust {
  color: #e1b163;
  font-size: 1.2em;
  text-transform: uppercase;
}

.cartStanding {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  background-color: #735f32;
}

.cartStand {
  color: #ffffff;
  font-size: 1em;
  text-transform: uppercase;
}

.custDrop {
  display: flex;
  background-color: #282a3a;
  justify-content: center;
}

.custDrop .p-dropdown {
  background-color: #282a3a;
  border: none;
  color: #e1b163;
  font-size: 1.2em;
  text-transform: uppercase;
}

.custDrop .p-dropdown .p-inputtext {
  color: #e1b163;
  display: flex;
  justify-content: center;
  font-size: 1em;
  text-transform: uppercase;
}

.custDrop .p-dropdown .p-dropdown-trigger {
  background: transparent;
  color: #e1b163;
  width: 2.357rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.bpbSimpleForm .field .p-disabled, .p-component:disabled {
  opacity: .8;
}

.p-datatable .p-datatable-tbody > tr {
  background: #c69749;
  color: #495057;
  transition: box-shadow 0.2s;
}

.bpbDataTable .p-datatable .p-datatable-thead > tr > th {
  text-align: left;
  padding: 1rem 1rem;
  border: 1px solid #c69749;
  border-width: 0 0 1px 0;
  font-weight: 600;
  color:white;
  background: #c69749;
  transition: box-shadow 0.2s;
}


.bpbDataTable .p-datatable .p-datatable-tbody > tr {
  background-color: #f4cc8b;
  color: #495057;
  transition: box-shadow 0.2s;
}

.bpbDataTable .p-datatable .p-datatable-tbody > tr > td {
  text-align: left;
  font-size: 1em;;
  border: 1px solid #c69749;
  border-width: 0 5px 5px 5px;
  padding: .75rem .75rem;
}

.bpbDataTable .p-inputtext {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  color: #495057;
  background: #eeeeee;
  padding: 0.5rem 0.5rem;
  border: 1px solid #495057;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  appearance: none;
  border-radius: 3px;
}

.bpbDataTable .p-inputtext:enabled:hover {
  border-color: #495057;
}

.bpbDataTable .p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #eeeeee;
  border-color: #c69749;
}

.bpbCalendar {
  display: flex;
  justify-content: center;
  background-color: #495057;
  
}

.bpbCalendar .p-inputtext {
  text-align: center;
  font-size: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: white;
  background: #495057;
  padding: 0.5rem 0.5rem;
  border: 1px solid #495057;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  appearance: none;
  border-radius: 3px;
 
}
